body
  nav.navbar.navbar-default
    div.container-fluid
      div.navbar-header
        a.navbar-brand(href='/') Hot Probs
      ul.nav.navbar-nav
        li
            a(href="/") home
          li
            a(href="/chat") chat
  .container
    main(data-hook="page-container")